{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Feedback Project</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
   
</head>
<body>
    <div class="container">
        <h1>This is the simple Project of user Feedback Developed using the Python Django framework</h1>
        <p>Can you please register and give your feedback on the project?</p>
        <a href="register" class="register-button">Register Now</a>
        <a href="login" class="register-button">Login</a>
    </div>
</body>
</html>