{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="{% static 'css/thanku.css' %}" type="text/css">
   
</head>
<body>
    
    <div class ="logout " style="position: absolute;   top:2vh; left:60vw; display:flex; justify-content:right;">
        Welcome {{name  }}  <a style ="text-decoration: none;  margin:0.5vh;background:chocolate;" class="submitt" href="index">Logout</a>
    </div>
    <div class="container">
        <h1>Thank You {{name}}!</h1>
        <p>We appreciate your feedback. It helps us improve our services.</p>
    </div>
</body>
</html>